.svn
.tmp
.download
output*
.*.swp
.*.swo
/etc/*.yaml
!/etc/*.example.yaml
/**/var
/**/.DS_Store
deutsch
/dist/
.idea
.vscode
/vendor
/coverage.out
unittest.txt
/**/*.log
.gocoverc
cover.html
docs/
.cursor
